# Python | day 2 | collections

List, tuples & sets

May help you https://www.w3schools.com/python/python_ref_list.asp
    
    Thanks Antonio!

### Exercise 1.

1. Create:
    - a list type variable called **student_list** which contains the name of your classmates. 
    - 4 differents lists containing the names of the classmates sitting on each table of the class plus the ones following the class on remote.  
    
If you're not in class anymore and you don't remember how the class was distributed, use the names of your classmates and make 4 different lists with them.

Print both created lists.

In [151]:
#No se si las tengo que imprimir, imrpimo solamente la primera lista.  
student_list = ["JavierO", "Leonardo", "Maria_cagi", "Marta", "Miguel" ,"Xeles", "Juan", "AlexB", "Alfon","Anais", "antonio", "ariadna", "daniel", "estela", "JavierGil", "Miguelmvf", "Roberto", "maria_del_mar"]
students_row1 = ["JavierO", "Leonardo", "Maria_cagi", "Marta"]
students_row2 = ["Miguel", "Xeles", "Juan", "AlexB"]
students_row3 = ["Alfon","Anais", "antonio", "ariadna"]
students_remote = ["ariadna", "daniel", "estela", "JavierGil", "Miguelmvf", "Roberto", "maria_del_mar"]
print(student_list)

['JavierO', 'Leonardo', 'Maria_cagi', 'Marta', 'Miguel', 'Xeles', 'Juan', 'AlexB', 'Alfon', 'Anais', 'antonio', 'ariadna', 'daniel', 'estela', 'JavierGil', 'Miguelmvf', 'Roberto', 'maria_del_mar']

### Exercise 2

1. Create an empty list, call it **empty_list**

In [152]:
empty_list = []
empty_list

[]

2. Create a list with 5 items, call it **my_list**

In [153]:
my_list = ["silla", "mesa", "botella", "raton", "telefono"]
my_list

['silla', 'mesa', 'botella', 'raton', 'telefono']

3. Find the length of **my_list**

In [154]:
len(my_list)

5

4. Get the first item, the middle item and the last item of **my_list**

In [155]:
print(my_list[0])
print(my_list[2])
print(my_list[4])

silla
botella
telefono

5. Declare:
    - a **name** variable and assign a value to it
    - a **age** variable and assign a value to it
    - a **height** variable and assign a value to it
    - a **country** variable and assign a value to it
    - a **python_version** variable and assign a value to it

In [156]:
name = "Kapil"
age = 35
height = 1.80
country = "Espana"
python_version = 3.9

6. Create a list called **mixed_data_types** with your name, age, height, country and python_version.

In [157]:
#No especifica si ponemos la variable que declaramos antes o el valor.  Yo he puesto el valor
mixed_data_types = ["Kapil", 35, 1.80, "Espana", 3.9]
mixed_data_types

['Kapil', 35, 1.8, 'Espana', 3.9]

7. Declare a list variable named **it_companies** and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [158]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
it_companies

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']


8. Print **it_companies** using print()

In [159]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

9. Print the number of companies in the list

In [160]:
len(it_companies)

7

11. Print *Google*

In [161]:
it_companies[1]

'Google'

10. Print the first, middle and last company

In [162]:
print(it_companies[0])
print(it_companies[3])
print(it_companies[6])

Facebook
Apple
Amazon

11. Assign a new value to the last element of the list

In [163]:
it_companies[6] = "TheBridge"

12. Print the list after modifying one of the companies

In [164]:
it_companies

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'TheBridge']

## Bonus track.

13. Add an IT company to **it_companies**

In [165]:
it_companies.append("hewlett packard")
it_companies

['Facebook',
 'Google',
 'Microsoft',
 'Apple',
 'IBM',
 'Oracle',
 'TheBridge',
 'hewlett packard']

14. Check if *Apple* exists in the **it_companies** list.

In [166]:
if "Apple" in it_companies:
    print("Apple si esta en la lista")

Apple si esta en la lista

15. Sort the list using `sort()` method

In [167]:
print("Antes = ", it_companies)
it_companies.sort()
print("Despues del sort() = ",it_companies)

Antes =  ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'TheBridge', 'hewlett packard']
Despues del sort() =  ['Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle', 'TheBridge', 'hewlett packard']

16. Reverse the list in descending order using `reverse()` method

In [168]:
print(it_companies)
it_companies.reverse()
it_companies

['Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle', 'TheBridge', 'hewlett packard']

['hewlett packard',
 'TheBridge',
 'Oracle',
 'Microsoft',
 'IBM',
 'Google',
 'Facebook',
 'Apple']

17. Slice out the first 3 companies from the list

In [169]:
#He copiado la lista a it_companies2 para no tocar la original
it_companies2 = it_companies
print(it_companies2)
it_companies2.remove("hewlett packard")
it_companies2.remove("TheBridge")
it_companies2.remove("Oracle")
it_companies2
#Hay otra forma de hacerlo?  Alguna forma que elimine las 3 primeras posiciones sin tener que escribir el nombre de la compañia?

['hewlett packard', 'TheBridge', 'Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple']

['Microsoft', 'IBM', 'Google', 'Facebook', 'Apple']

18. Remove the last IT company from the list

In [170]:

hola = it_companies2[-1]
it_companies2.remove(hola)
it_companies2

['Microsoft', 'IBM', 'Google', 'Facebook']

19. Remove all IT companies from the list

In [171]:
print(it_companies2)
it_companies2.clear()
print("Items de la lista eliminados 0 = ",it_companies2)

['Microsoft', 'IBM', 'Google', 'Facebook']
Items de la lista eliminados 0 =  []

20. Join the following lists, and call the list **end**:

```python
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
```

In [173]:
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
front_end.append(back_end)
print(front_end)
print(front_end[-1][-1])

[['HTML', 'CSS'], 'JS', 'React', 'Redux', ['Node', 'Express', 'MongoDB']]
MongoDB

21. From the **end** list print 'HTML'

In [174]:
print(front_end[0][0])

HTML

22. From the end list print the 'C' from the word 'CSS'

In [176]:
print(front_end[0][1][0])

C

### Exercise 3.

Do you know you can create tuples with only one element?

1. In the cell below, define a variable **tup** with a single element "T".

Hint: you need to add a comma (,) after the single element.

In [181]:
#Noe
tup = ("T",)
tup

('T',)

2. Print the type of tup.
Make sure its type is correct (i.e. tuple instead of str).

In [182]:
type(tup)

tuple

3. Now try to append the following elements to **tup**.
Are you able to do it? Explain.

`"H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [192]:
#INTENTO. He pasado la tupla a lista, añadi las letras (seguro que habrá alguna forma más corta de hacerlo en vez de poner una a una) y luego pasé la lista a tupla otra vez
tup_a_list = list(tup)
print(tup_a_list)
tup_a_list.append("H")
tup_a_list.append("E")
tup_a_list.append(" ")
tup_a_list.append("B")
tup_a_list.append("R")
tup_a_list.append("I")
tup_a_list.append("D")
tup_a_list.append("G")
tup_a_list.append("E")
print(tup_a_list)
list_a_tup = tuple(tup_a_list)
print(list_a_tup)

['T']
['T', 'H', 'E', ' ', 'B', 'R', 'I', 'D', 'G', 'E']
('T', 'H', 'E', ' ', 'B', 'R', 'I', 'D', 'G', 'E')

4. How about re-assign a new value to an existing tuple?

Re-assign the following elements to **tup**. 

Are you able to do it? Explain.


`"T", "H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [ ]:
#La verdad es que no sé que me están pidiendo en el enunciado

### Exercise 4. 

1. Turn **lista_repes** into a *set* in order to get only the uniques values in the list, assing it to a variable called **my_set**

In [2]:
lista_repes = ["data", "data", "data", "science", "science", "python", "python", "diomedes", "diomedes", "diomedes", "diomedes", "clara", "gabriel", "gabriel", "gabriel"]

In [5]:
my_set = set(lista_repes)
my_set

{'clara', 'data', 'diomedes', 'gabriel', 'python', 'science'}

2. Try to print the first element of **my_set**

You did good if you get *TypeError: 'set' object is not subscriptable*.

In [8]:
print(my_set[0])

TypeError: 'set' object is not subscriptable

3. Turn **my_set** into a list, using the function `list()`. 

Can you print the first element now?

In [9]:
print(list(my_set))

['clara', 'gabriel', 'data', 'diomedes', 'python', 'science']