# Python | day 1 | variables

Variables are nothing but reserved memory locations to store values. This means that when you create a variable you reserve some space in memory.

Based on the data type of a variable, the interpreter allocates memory and decides what can be stored in the reserved memory. Therefore, by assigning different data types to variables, you can store integers, decimals or characters in these variables.

### Exercise 1.

1. Write a python comment saying _'My very first python code:'_

In [1]:
#No sé si se refiere a un comentario como nos enseñaron hoy con almohadilla o simplemente un print.  Yo lo entiendo como un print.
print("My very first python code:")

My very first python code:

2. Declare a **first name** variable and assign a value to it

In [2]:
first_name = "Kapil"

3. Declare a **last name** variable and assign a value to it

In [3]:
last_name = "Dadlani"

4. Declare a **full name** variable and assign a value to it

In [4]:
full_name = "Kapil Dadlani"

5. Declare a **country** variable and assign a value to it

In [6]:
country = "Espana"

6. Declare a **city** variable and assign a value to it

In [7]:
city = "Tenerife"

7. Declare an **age** variable and assign a value to it

In [31]:
age = 35

8. Declare a **year** variable and assign a value to it

In [5]:
year = 1985

9. Declare a variable **is_married** and assign a value to it

In [11]:
is_married = "married"

10. Declare a variable **is_true** and assign a value to it

In [12]:
is_true = "true"

11. Declare a variable **is_light_on** and assign a value to it

In [13]:
is_light_on = "light"

## Exercise 2. 

1. Check the data type of all your variables using `type()` built-in function

In [23]:
#imprimo la variable primero y despues su tipo
print(first_name,type(first_name))
print(last_name,type(last_name))
print(full_name,type(full_name))
print(country,type(country))
print(city,type(city))
print(age,type(age))
print(year,type(year))
print(is_married,type(is_married))
print(is_true,type(is_light_on))
print(is_light_on,type(is_light_on))

Kapil <class 'str'>
Dadlani <class 'str'>
Kapil Dadlani <class 'str'>
Espana <class 'str'>
Tenerife <class 'str'>
35 <class 'int'>
1985 <class 'int'>
married <class 'str'>
true <class 'str'>
light <class 'str'>

Turn the variable **age**, which should be *integer*, into type *float*. This action is known as cast a variable.

In [32]:
#cambiamos variable age de int a float
print(age,type(age))
age = float(age)
print(age,type(age))

35 <class 'int'>
35.0 <class 'float'>

2. Using the `len()` built-in function find the length of your first name

In [33]:
len(first_name)

5

3. Compare the length of your first name and your last name

In [38]:
print(first_name, len(first_name), "Caracteres")
print(last_name, len(last_name), "Caracteres")

Kapil 5 Caracteres
Dadlani 7 Caracteres

4. Declare 5 as **num_one** and 4 as **num_two**

In [9]:
num_one = 5
num_two = 4

5. Add **num_one** and **num_two** and assign the value to a variable **_total**

In [8]:
num_total = num_one + num_two
num_total

9

6. Subtract num_two from num_one and assign the value to a variable _diff

In [43]:
num_diff = num_one - num_two
num_diff

1

7. Multiply **num_two** and **num_one** and assign the value to a variable **_product**

In [45]:
num_product = num_two * num_one
num_product

20

8. Divide **num_one** by **num_two** and assign the value to a variable **_division**

In [46]:
num_division = num_one / num_two
num_division

1.25

9. Use modulus division to find **num_two** divided by **num_one** and assign the value to a variable **_remainder**

In [6]:
#INTENTO 1. He mirado por internet y usan el %.  De todas formas no me reconoce las variables que he guardado arriba.  Explico mejor lo que me ha pasado en el ejercicio siguiente
# SI ME SALE UN 0, es que es un numero par
# SI ME SALE ALGO DIFERENTE A 0, EL NUMERO ES IMPAR, ES DECIR QUE EL NUMERO NO ES DIVISOR DEL OTRO.
#num_one = 5
#num_two = 4
num_remainder = num_two % num_one
num_remainder

4

10. Calculate **num_one** to the power of **num_two** and assign the value to variable **_exp**

In [4]:
#Esto me daba bien antes, me daba una respuesta de 625, pero no sé que he hecho con el jupyter que ahora no me reconoce nada.  Supongo que tendrá que ver con el [1] que pone a la izquierda.  Entiendo que no reconoce num_one precisamente por lo que comento pero no sé arreglarlo.
#Habré reiniciado el Kernel, por lo tanto lo que he hecho es declarar las variables num_one y num_two
#num_one = 5
#num_two = 4
print(num_one)
print(num_two)
num_exp = num_one ** num_two
print("Respuesta de 5 elevado a 4 =",num_exp)

5
4
Respuesta de 5 elevado a 4 = 625

11. Find floor division of **num_one** by **num_two** and assign the value to a variable **_floor_division**

In [91]:
#Esta es la division absoluta
print(num_one)
print(num_two)
num_floor_division = num_one // num_two
print("Division absoluto de 5 entre 4 = ", num_floor_division)

5
4
Division absoluto de 5 entre 4 =  1

## Bonus track.

12. The radius of a circle is 30 meters. 
    Calculate the area of a circle and assign the value to a variable **area_of_circle**

In [4]:
r = 30
pi = 3.14

area_of_circle = pi * (r ** 2)
print(" area_of_circle = ",Area)

 area_of_circle =  2826.0

13. Calculate the circumference of a circle and assign the value to a variable **circum_of_circle**

In [5]:
d = 2 * r
circum_of_circle = pi * d
circum_of_circle

188.4

14. Take radius as user input and calculate the area.

In [34]:
#INTENTO 1
radio = input("Introduce el Radio: ")
#Pasamos radio de str a int
radio = int(radio)
print("radio introducido = ", radio)
area = pi * (radio ** 2)
print("Area = ",area)

radio introducido =  7
Area =  153.86

15. Use the built-in input function to get first name, last name, country and age from a user and store the value to their corresponding variable names

In [37]:
Nombre = input("Introduce tu nombre: ")
print(Nombre)
Apellido = input("Introduce tu apellido: ")
print(Apellido)
Pais = input("Introduce tu pais: ")
print(Pais)
Edad = input("Introduce tu edad:  ")
print(Edad)

Kapil
Dadlani
Espana
35

16. What is a reserved word in Python? Run `help('keywords')` to check for the reserved words.

In [38]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               break               for                 not
None                class               from                or
True                continue            global              pass
__peg_parser__      def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield

**Well done!**

![h](https://i.pinimg.com/originals/11/b4/20/11b420fbf1595be3056ad6355277933c.jpg)

# Hola y pinchar en M arriba
ESCRIBIR LO QUE SEA

In [13]:
#Para poner comentarios muchas lineas se pone con 3 """"
"""
sfgsg
sfgfsgf
sfgfsgf
sfg
"""

2

In [ ]:
#Todo lo que sea false ó none ó 0 es nada, todo lo demas es true.  Por tanto lo demás es algo, y por tanto es true.  Es decir los sinonimos de false: None, False, 0, lista =[] (porque está vacio)