# Python | day 6 | dictionaries

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is unordered, changeable and does not allow duplicates.

Dictionaries are written with curly brackets, and have keys and values:

```python
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
```

https://www.w3schools.com/python/python_dictionaries.asp

### Exercise 1. 

1. Create a dictionary with an integer 5 as the key and "val" as its value.

In [229]:
dictionary = {5:"val"}

2. Create two lists: one that has 4 city names and another that has 4 landmarks in the city.

In [10]:
cities = ["Malaga","Madrid","Granada","Barcelona"]
landmarks = ["Gibralfaro", "Templo de Debod", "La Alcazaba","Sagrada Familia"]

3. Create a dictionary where the cities contained in the first list are the **keys** and the landmarks are the **values**.
```python
#example
places = {"Malaga": "Gibralfaro", 
         "Madrid": "Templo de Debod",
         "Granada": "La Alcazaba",
         "Barcelona": "Sagrada Familia"}
```

In [6]:
city_lm = {"Malaga":"Gibralfaro", "Madrid":"Templo de Debod", "Granada": "La Alcazaba", "Barcelona" : "Sagrada Familia"}

for e in city_lm.keys():
    if e[0]=="M":
        print(e)

Malaga
Madrid

4. Loop through the dictionary and print only the values of those keys starting with the letter **M**.

https://realpython.com/iterate-through-dictionary-python/

In [228]:
city_lm = {"Malaga":"Gibralfaro", "Madrid":"Templo de Debod", "Granada": "La Alcazaba", "Barcelona" : "Sagrada Familia"}
nueva = []
for pos, val in enumerate(city_lm.keys()):
    val_lista = list(val) #paso a lista la ciudad para poder ir al primer valor y ver que es una M. 
    if val_lista[0] == "M":
        print(city_lm[val])

Gibralfaro
Templo de Debod

5. Create a function that receives two lists `list1` and `list2` by parameter and returns a dictionary with each element of `list1` as keys and the elements of `list2` as values. Call the function with the lists you have created before to return the same dictionary you've created in question 3.

In [197]:
cities = ["Malaga","Madrid","Granada","Barcelona"]
landmarks = ["Gibralfaro", "Templo de Debod", "La Alcazaba","Sagrada Familia"]

def func_listas(list1,list2):
    lugares_dict = {}
    for pos, val in enumerate(cities):
       for pos2, val2 in enumerate(landmarks):
            if pos == pos2:
                lugares_dict[cities[pos]] = landmarks[pos2]
    return lugares_dict

func_listas(list1=cities,list2=landmarks)

{'Malaga': 'Gibralfaro',
 'Madrid': 'Templo de Debod',
 'Granada': 'La Alcazaba',
 'Barcelona': 'Sagrada Familia'}

### Exercise 2.

1. Create an empty dictionary called dog.

In [88]:
dog_dict ={}

2. Add name, color, breed, legs, age to the dog dictionary.

In [90]:
dog_dict = {"Name": "firulais", "color": "white", "breed": "spitz", "age" : 7}
dog_dict

{'Name': 'firulais', 'color': 'white', 'breed': 'spitz', 'age': 7}

3. Create a student dictionary and add first_name, last_name, age, skills, country, city and address as keys for the dictionary.

In [150]:
student_dict = {"first_name":"Pablo","last_name":"socas", "age": 23, "skills":["marketing"], "country":"spain", "city": "Madrid", "address":"calle hermosilla"}
student_dict

{'first_name': 'Pablo',
 'last_name': 'socas',
 'age': 23,
 'skills': ['marketing'],
 'country': 'spain',
 'city': 'Madrid',
 'address': 'calle hermosilla'}

4. Get the length of the student dictionary.

In [151]:
len(student_dict)

7

5. Get the value of skills and check the data type, it should be a list.

In [152]:
print(student_dict["skills"])
type(student_dict["skills"])

['marketing']

list

6. Modify the skills values by adding one or two skills.

In [153]:
student_dict["skills"].append("java")
student_dict

{'first_name': 'Pablo',
 'last_name': 'socas',
 'age': 23,
 'skills': ['marketing', 'java'],
 'country': 'spain',
 'city': 'Madrid',
 'address': 'calle hermosilla'}

7. Get the dictionary keys as a list.

In [135]:
kl = list(student_dict.keys())
print(type(kl))
kl

<class 'list'>

['first_name', 'last_name', 'age', 'skills', 'country', 'adress']

8. Get the dictionary values as a list.

In [136]:
vl =list(student_dict.values())
print(type(vl))
vl

<class 'list'>

['Pablo', 'socas', 23, ['marketing', 'java'], 'spain', 'calle hermosilla']

9. Change the dictionary to a list of tuples using `items()` method

In [137]:
list(student_dict.items())

[('first_name', 'Pablo'),
 ('last_name', 'socas'),
 ('age', 23),
 ('skills', ['marketing', 'java']),
 ('country', 'spain'),
 ('adress', 'calle hermosilla')]

10. Delete one of the items in the dictionary.

In [138]:
del student_dict["country"]
student_dict

{'first_name': 'Pablo',
 'last_name': 'socas',
 'age': 23,
 'skills': ['marketing', 'java'],
 'adress': 'calle hermosilla'}

### Bonus Track

**TÃ³mate una cervecita o un zumito a tu salud.**

!['daughter'](https://i.pinimg.com/originals/8f/35/28/8f35281e742e71be09697e7e6789b819.png)