# Ex2 - Getting and Knowing your Data



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = pd.read_csv(url, sep = '\t')

### Step 4. See the first 10 entries

In [4]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [5]:
len(chipo)

4622

In [6]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [7]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [8]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [9]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [10]:
n_chipo = chipo.groupby("item_name").sum()
new_chipo = n_chipo.sort_values("quantity",ascending = False).head(1)
new_chipo

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [11]:
#Mimso resultado que arriba

### Step 11. What was the most ordered item in the choice_description column?

In [12]:
#Creo que esto está mal.
chipo.head(10)
otro_chipo = chipo.groupby(["choice_description"]).sum().sort_values(["quantity"],ascending = False).head(1)
otro_chipo

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [13]:
#Dos fomras de hacerlo. PPERO el porfe nos recomienda la primera opcion
Total = chipo["quantity"].sum()
print(Total)

Total_otro = chipo.quantity.sum()
print(Total_otro)

4972
4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [14]:
chipo["item_price"].dtypes

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [15]:
#FUNCION PARA QUITAR LOS DOLARES Y PASARLO A FLOAT
def remove_dollar(x):
	return float(x[1:-1])

In [16]:
#Forma1.Con el apply llamamos a la funcion y el apply cambias los datos en la columna
chipo["item_price"].apply(remove_dollar)

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [17]:
#Forma2. Creamos una columna nueva y con apply llamamos a la funcion remove_dollar y el apply cambia los datos a la columna nueva
chipo["item_price_float"] = chipo["item_price"].apply(remove_dollar) 
chipo["item_price_float"]

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price_float, Length: 4622, dtype: float64

In [18]:
#Forma 3. metemos la funcion lambda dentro del apply en vez de llamar a la funcion
chipo["item_price_float"] = chipo["item_price"].apply(lambda x: float(x[1:-1]))

In [19]:
#Forma 4.
chipo["item_price_replace"] = chipo["item_price"].str.replace('$', '').astype(float)

In [20]:
precio = [float(val[1:-1]) for val in chipo.item_price]

In [21]:
flo = lambda df: df.astype(float)
chipo['item_price'] = flo(chipo.item_price.str.replace('$', ''))

#### Step 13.c. Check the item price type

In [22]:
chipo['item_price'].dtypes

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [23]:
Total = chipo['item_price'] * chipo["quantity"]
Total_del_Total = Total.sum()
print("Revenue was: $",Total_del_Total)

Revenue was: $ 39237.02

### Step 15. How many orders were made in the period?

In [24]:
len(chipo.groupby("order_id"))

1834

### Step 16. What is the average revenue amount per order?

In [25]:
# Solution 1
Total_del_Total/1834

21.39423118865867

# Solution 2

### Step 17. How many different items are sold?

In [26]:
chipo_22 = chipo.item_name.duplicated().sum()
(len(chipo)) - chipo_22

50