In [1]:
import pandas as pd

edad = [1, 70, 5, 40, 60, 3]
altura = [0.50, 1.55, 0.8, 1.75, 1.65, 0.65]

df = pd.DataFrame(data=[edad, altura]).T
df

      0     1
0   1.0  0.50
1  70.0  1.55
2   5.0  0.80
3  40.0  1.75
4  60.0  1.65
5   3.0  0.65

In [4]:
df["Rango"] = pd.cut(df[0], 2)
df

      0     1          Rango
0   1.0  0.50  (0.931, 35.5]
1  70.0  1.55   (35.5, 70.0]
2   5.0  0.80  (0.931, 35.5]
3  40.0  1.75   (35.5, 70.0]
4  60.0  1.65   (35.5, 70.0]
5   3.0  0.65  (0.931, 35.5]