Crea un programa que, llamando a una función clean_df(path), lea un archivo leíble por pandas, lo transforme a dataframe y lo limpie si es posible. 

La función clean_df() retornará el dataframe limpiado.

En la función clean_df:

- path: representa la ubicación o url de donde pandas lee el archivo a cargar.

In [33]:
import pandas as pd 
import numpy as np 
import os, sys
from sklearn.preprocessing import LabelEncoder

In [43]:
root_path = os.path.dirname(os.path.dirname(os.path.dirname(os.getcwd())))
sys.path.append(root_path)
sys.path = list(set(sys.path))

In [48]:
def clean_df(path):
    """Esta funcion pretende transformar un archivo a dataframe, limpiarlo y prepararlo para poder ser utilizado con algoritmos de Machine Learning"""
    df = pd.read_csv(path)
    print(df.shape)
    #delete rows with any nans
    df.dropna(axis=0, how='any', inplace=True) 
    #le will be our label encoder
    le = LabelEncoder()
    # #Transforming categoric columns to numeric with encoder
    X_categorical_no_numbers = df[df.select_dtypes('object').columns].apply(le.fit_transform)
    #Saving None Object columns in the variable X_others
    X_others = df.select_dtypes(exclude=['object'])
    #Concatenating in a new dataframe both transformed columns with the other columns
    df_cleaned = pd.concat([X_others, X_categorical_no_numbers], axis=1)

    return df_cleaned #df_cleaned

In [47]:
clean_df(path = root_path + "\\week9_apuntes\\day3\\data\\student-mat.csv")

(395, 33)

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,...,reason,guardian,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic
0,18,4,4,2,2,0,4,3,4,1,...,0,1,1,0,0,0,1,1,0,0
1,17,1,1,1,2,0,5,3,3,1,...,0,0,0,1,0,0,0,1,1,0
2,15,1,1,1,2,3,4,3,2,2,...,2,1,1,0,1,0,1,1,1,0
3,15,4,2,1,3,0,3,2,2,1,...,1,1,0,1,1,1,1,1,1,1
4,16,3,3,1,2,0,4,3,2,1,...,1,0,0,1,1,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,20,2,2,1,2,2,5,5,4,4,...,0,2,0,1,1,0,1,1,0,0
391,17,3,1,2,1,0,2,4,5,3,...,0,1,0,0,0,0,0,1,1,0
392,21,1,1,1,1,3,5,5,3,3,...,0,2,0,0,0,0,0,1,0,0
393,18,3,2,3,1,0,4,4,1,3,...,0,1,0,0,0,0,0,1,1,0
394,19,1,1,1,1,0,3,2,3,3,...,0,0,0,0,0,0,1,1,1,0