## Working on Jsons

In [24]:
import requests
import json
import pandas as pd

In [25]:
r = requests.get(url='http://data.nba.net/prod/v2/2018/teams.json')
json_readed = json.loads(r.text)

In [26]:
#print(json_readed)
df = pd.DataFrame(json_readed)

In [36]:
#HECHO POR EL PROFESOR. lo PRIMERO QUE HACEMOS ES COGER LOS ROWS DESDE STANDARTD HASTA UTAH Y SOLO COGEMOS LEAGU
df2 = df.loc["standard":,"league"]  #Si no ponemos los : en league aunque solo haya una columna, seria una serie, con los : se ve como un dataframe.  Hacer los ejemplos de los print con y sin : despues de league para ver la diferencia. siempre tiene q haber un : en la segunda parte para que sea un dataframe. Es decir, que si hubiese mas columnas que league pondriamos "league":"league" para que esten los : y y sea un dataframe
#La otra forma serÃ­a:
#que si df2 es una serie y se imprime como una serie....pues le hacemos un 
df3 = pd.DataFrame(df2) 
df3

                                                       league
standard    [{'isNBAFranchise': False, 'isAllStar': True, ...
africa      [{'isNBAFranchise': False, 'isAllStar': False,...
sacramento  [{'isNBAFranchise': True, 'isAllStar': False, ...
vegas       [{'isNBAFranchise': True, 'isAllStar': False, ...
utah        [{'isNBAFranchise': True, 'isAllStar': False, ...

In [33]:
#VAMOS A UTILIZAR DF2 QUE ES LO MISMO QUE CON DF3, ES LA MISMA INFORMACION
df2["league"][0]

KeyError: 'league'

In [ ]:
#LO QUE ESTÃ AQUI DEBAJO ES LO QUE HE HECHO YO

### Data Mining & Data Wrangling
As you can see, there are jsons inside the original json. For that, we have to mining the json (data mining) to be able to use it correctly (data wrangling). 

How do you solve this issue? Research about this and try a solution.

In [15]:
df = pd.DataFrame(json_readed) 
df

,_internal,league
pubDateTime,2018-08-30 20:00:04.422,NaN
xslt,xsl/league/roster/marty_teams_list.xsl,NaN
eventName,league_roster,NaN
standard,NaN,"[{'isNBAFranchise': False, 'isAllStar': True, ..."
africa,NaN,"[{'isNBAFranchise': False, 'isAllStar': False,..."
sacramento,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."
vegas,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."
utah,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."

In [16]:
#Muestro el json que estÃ¡ dentro de league y row=africa para mostrarlo
#df["league"]["africa"]

#TabiÃ©n lo podrÃ­a hacer asÃ­:
df["league"][4]

[{'isNBAFranchise': False,
  'isAllStar': False,
  'city': 'Team',
  'altCityName': 'Team',
  'fullName': 'Team Africa',
  'tricode': 'AFR',
  'teamId': '12326',
  'nickname': 'Africa',
  'urlName': 'africa',
  'confName': '',
  'divName': ''},
 {'isNBAFranchise': False,
  'isAllStar': False,
  'city': 'Team',
  'altCityName': 'Team',
  'fullName': 'Team World',
  'tricode': 'WLD',
  'teamId': '12327',
  'nickname': 'World',
  'urlName': 'world',
  'confName': '',
  'divName': ''}]

In [23]:
data_standard = []
data_standard.extend(df["league"]["standard"]) # Pasamos la info del json dentro del dataframe dentro de esa posicion a una lista normal
data_standard = pd.DataFrame(data_standard) #pasamos la lista a dataframe para mostrarlo como tal
data_standard.head()

,isNBAFranchise,isAllStar,city,altCityName,fullName,tricode,teamId,nickname,urlName,confName,divName
0,False,True,USA,USA,USA,USA,1610616843,USA,usa,East,East
1,False,True,World,World,World,WLD,1610616844,World,world,East,East
2,False,True,Team,Team,All-Stars,EST,1699999999,All-Stars,assn_away,East,East
3,False,True,Team,Team,All-Stars,WST,1699999998,All-Stars,assn_home,West,West
4,False,True,Team Giannis,Team Giannis,Team Giannis,GNS,1610616833,Team Giannis,team_giannis,East,East

In [18]:
data_africa = []
data_africa.extend(df["league"]["africa"])# Pasamos la indo del dataframe a una lista normal
data_africa = pd.DataFrame(data_africa)#pasamos la lista a dataframe para mostrarlo como tal
data_africa

,isNBAFranchise,isAllStar,city,altCityName,fullName,tricode,teamId,nickname,urlName,confName,divName
0,False,False,Team,Team,Team Africa,AFR,12326,Africa,africa,,
1,False,False,Team,Team,Team World,WLD,12327,World,world,,

In [19]:
data_sacramento = []
data_sacramento.extend(df["league"]["sacramento"])# Pasamos la indo del dataframe a una lista normal
data_sacramento = pd.DataFrame(data_sacramento)#pasamos la lista a dataframe para mostrarlo como tal
data_sacramento

,isNBAFranchise,isAllStar,city,altCityName,fullName,tricode,teamId,nickname,urlName,confName,divName
0,True,False,Golden State,Golden State,Golden State Warriors,GSW,1610612744,Warriors,warriors,Sacramento,
1,True,False,Los Angeles,Los Angeles Lakers,Los Angeles Lakers,LAL,1610612747,Lakers,lakers,Sacramento,
2,True,False,Miami,Miami,Miami Heat,MIA,1610612748,Heat,heat,Sacramento,
3,True,False,Sacramento,Sacramento,Sacramento Kings,SAC,1610612758,Kings,kings,Sacramento,

In [20]:
data_vegas = []
data_vegas.extend(df["league"]["vegas"])# Pasamos la indo del dataframe a una lista normal
data_vegas = pd.DataFrame(data_vegas)
data_vegas

,isNBAFranchise,isAllStar,city,altCityName,fullName,tricode,teamId,nickname,urlName,confName,divName
0,True,False,Atlanta,Atlanta,Atlanta Hawks,ATL,1610612737,Hawks,hawks,summer,
1,True,False,Boston,Boston,Boston Celtics,BOS,1610612738,Celtics,celtics,summer,
2,True,False,Brooklyn,Brooklyn,Brooklyn Nets,BKN,1610612751,Nets,nets,summer,
3,True,False,Charlotte,Charlotte,Charlotte Hornets,CHA,1610612766,Hornets,hornets,summer,
4,True,False,Chicago,Chicago,Chicago Bulls,CHI,1610612741,Bulls,bulls,summer,
5,True,False,Cleveland,Cleveland,Cleveland Cavaliers,CLE,1610612739,Cavaliers,cavaliers,summer,
6,True,False,Dallas,Dallas,Dallas Mavericks,DAL,1610612742,Mavericks,mavericks,summer,
7,True,False,Denver,Denver,Denver Nuggets,DEN,1610612743,Nuggets,nuggets,summer,
8,True,False,Detroit,Detroit,Detroit Pistons,DET,1610612765,Pistons,pistons,summer,
9,True,False,Golden State,Golden State,Golden State Warriors,GSW,1610612744,Warriors,warriors,summer,
10,True,False,Houston,Houston,Houston Rockets,HOU,1610612745,Rockets,rockets,summer,
11,True,False,Indiana,Indiana,Indiana Pacers,IND,1610612754,Pacers,pacers,summer,
12,True,False,LA,LA Clippers,LA Clippers,LAC,1610612746,Clippers,clippers,summer,
13,True,False,Los Angeles,Los Angeles Lakers,Los Angeles Lakers,LAL,1610612747,Lakers,lakers,summer,
14,True,False,Memphis,Memphis,Memphis Grizzlies,MEM,1610612763,Grizzlies,grizzlies,summer,
15,True,False,Miami,Miami,Miami Heat,MIA,1610612748,Heat,heat,summer,
16,True,False,Milwaukee,Milwaukee,Milwaukee Bucks,MIL,1610612749,Bucks,bucks,summer,
17,True,False,Minnesota,Minnesota,Minnesota Timberwolves,MIN,1610612750,Timberwolves,timberwolves,summer,
18,True,False,New Orleans,New Orleans,New Orleans Pelicans,NOP,1610612740,Pelicans,pelicans,summer,
19,True,False,New York,New York,New York Knicks,NYK,1610612752,Knicks,knicks,summer,
20,True,False,Oklahoma City,Oklahoma City,Oklahoma City Thunder,OKC,1610612760,Thunder,thunder,summer,
21,True,False,Orlando,Orlando,Orlando Magic,ORL,1610612753,Magic,magic,summer,
22,True,False,Philadelphia,Philadelphia,Philadelphia 76ers,PHI,1610612755,76ers,sixers,summer,
23,True,False,Phoenix,Phoenix,Phoenix Suns,PHX,1610612756,Suns,suns,summer,
24,True,False,Portland,Portland,Portland Trail Blazers,POR,1610612757,Trail Blazers,blazers,summer,
25,True,False,Sacramento,Sacramento,Sacramento Kings,SAC,1610612758,Kings,kings,summer,
26,True,False,San Antonio,San Antonio,San Antonio Spurs,SAS,1610612759,Spurs,spurs,summer,
27,True,False,Toronto,Toronto,Toronto Raptors,TOR,1610612761,Raptors,raptors,summer,
28,True,False,Utah,Utah,Utah Jazz,UTA,1610612762,Jazz,jazz,summer,
29,True,False,Washington,Washington,Washington Wizards,WAS,1610612764,Wizards,wizards,summer,

In [21]:
data_utah = []
data_utah.extend(df["league"]["utah"])
data_utah = pd.DataFrame(data_utah)
data_utah

,isNBAFranchise,isAllStar,city,altCityName,fullName,tricode,teamId,nickname,urlName,confName,divName
0,True,False,Atlanta,Atlanta,Atlanta Hawks,ATL,1610612737,Hawks,hawks,Utah,
1,True,False,Memphis,Memphis,Memphis Grizzlies,MEM,1610612763,Grizzlies,grizzlies,Utah,
2,True,False,San Antonio,San Antonio,San Antonio Spurs,SAS,1610612759,Spurs,spurs,Utah,
3,True,False,Utah,Utah,Utah Jazz,UTA,1610612762,Jazz,jazz,Utah,

In [22]:
Final = pd.concat([data_standard,data_africa,data_sacramento,data_vegas,data_utah],keys=["standard","africa","sacramento","vegas","utah"])
Final

             isNBAFranchise  isAllStar          city   altCityName  \
standard 0            False       True           USA           USA
         1            False       True         World         World
         2            False       True          Team          Team
         3            False       True          Team          Team
         4            False       True  Team Giannis  Team Giannis
...                     ...        ...           ...           ...
vegas    29            True      False    Washington    Washington
utah     0             True      False       Atlanta       Atlanta
         1             True      False       Memphis       Memphis
         2             True      False   San Antonio   San Antonio
         3             True      False          Utah          Utah

                       fullName tricode      teamId      nickname  \
standard 0                  USA     USA  1610616843           USA
         1                World     WLD  1610616844         World
         2            All-Stars     EST  1699999999     All-Stars
         3            All-Stars     WST  1699999998     All-Stars
         4         Team Giannis     GNS  1610616833  Team Giannis
...                         ...     ...         ...           ...
vegas    29  Washington Wizards     WAS  1610612764       Wizards
utah     0        Atlanta Hawks     ATL  1610612737         Hawks
         1    Memphis Grizzlies     MEM  1610612763     Grizzlies
         2    San Antonio Spurs     SAS  1610612759         Spurs
         3            Utah Jazz     UTA  1610612762          Jazz

                  urlName confName divName
standard 0            usa     East    East
         1          world     East    East
         2      assn_away     East    East
         3      assn_home     West    West
         4   team_giannis     East    East
...                   ...      ...     ...
vegas    29       wizards   summer
utah     0          hawks     Utah
         1      grizzlies     Utah
         2          spurs     Utah
         3           jazz     Utah

[88 rows x 11 columns]