### Ejercicio 1

A partir de la API de Pokemon, se pide generar un DataFrame como el de la imagen con las columnas: 

- **"height","id","order","weight","types"**

### Ejercicio 2

¿Has visto que dentro del DataFrame la columna "types" hay diccionarios? Se pide agregar, por cada pokemon, las columnas necesarias al DataFrame para albergar toda la información de "types".

![](df_pk.PNG)

In [2]:
import json
import requests
import pandas as pd

In [12]:
poke_json = requests.get("https://pokeapi.co/api/v2/pokemon").json()
df_pokemons = pd.DataFrame(poke_json)
df_pokemons.head(5)

,count,next,previous,results
0,1118,https://pokeapi.co/api/v2/pokemon?offset=20&li...,None,"{'name': 'bulbasaur', 'url': 'https://pokeapi...."
1,1118,https://pokeapi.co/api/v2/pokemon?offset=20&li...,None,"{'name': 'ivysaur', 'url': 'https://pokeapi.co..."
2,1118,https://pokeapi.co/api/v2/pokemon?offset=20&li...,None,"{'name': 'venusaur', 'url': 'https://pokeapi.c..."
3,1118,https://pokeapi.co/api/v2/pokemon?offset=20&li...,None,"{'name': 'charmander', 'url': 'https://pokeapi..."
4,1118,https://pokeapi.co/api/v2/pokemon?offset=20&li...,None,"{'name': 'charmeleon', 'url': 'https://pokeapi..."

In [16]:
#data_res = []
#data_res.extend(df_pokemons["results"])
#data_res = pd.DataFrame(data_res)
#data_res
data_res = pd.DataFrame(poke_json["results"])
data_res.head()

         name                                   url
0   bulbasaur  https://pokeapi.co/api/v2/pokemon/1/
1     ivysaur  https://pokeapi.co/api/v2/pokemon/2/
2    venusaur  https://pokeapi.co/api/v2/pokemon/3/
3  charmander  https://pokeapi.co/api/v2/pokemon/4/
4  charmeleon  https://pokeapi.co/api/v2/pokemon/5/

In [26]:
lista =[]
URLS = len(data_res["url"])

for i in range(URLS):
   lista.append([requests.get(data_res["url"][i]).json()])
   
pd.DataFrame(lista)

lista_2=[]
for i in range(len(lista)):
    lista_2.append(pd.DataFrame(lista[i])[["height","id","order","weight","types"]])

df_conc= pd.concat([lista_2[0],lista_2[1]])

for i in range(2,len(lista_2)):
    df_conc= pd.concat([df_conc,lista_2[i]])

df_conc=df_conc.reset_index()
df_conc.head()

,index,height,id,order,weight,types
0,0,7,1,1,69,"[{'slot': 1, 'type': {'name': 'grass', 'url': ..."
1,0,10,2,2,130,"[{'slot': 1, 'type': {'name': 'grass', 'url': ..."
2,0,20,3,3,1000,"[{'slot': 1, 'type': {'name': 'grass', 'url': ..."
3,0,6,4,5,85,"[{'slot': 1, 'type': {'name': 'fire', 'url': '..."
4,0,11,5,6,190,"[{'slot': 1, 'type': {'name': 'fire', 'url': '..."

In [20]:
df_final=pd.concat([data_res,df_conc], axis=1)
df_final.head()

,name,url,index,height,id,order,weight,types
0,bulbasaur,https://pokeapi.co/api/v2/pokemon/1/,0,7,1,1,69,"[{'slot': 1, 'type': {'name': 'grass', 'url': ..."
1,ivysaur,https://pokeapi.co/api/v2/pokemon/2/,0,10,2,2,130,"[{'slot': 1, 'type': {'name': 'grass', 'url': ..."
2,venusaur,https://pokeapi.co/api/v2/pokemon/3/,0,20,3,3,1000,"[{'slot': 1, 'type': {'name': 'grass', 'url': ..."
3,charmander,https://pokeapi.co/api/v2/pokemon/4/,0,6,4,5,85,"[{'slot': 1, 'type': {'name': 'fire', 'url': '..."
4,charmeleon,https://pokeapi.co/api/v2/pokemon/5/,0,11,5,6,190,"[{'slot': 1, 'type': {'name': 'fire', 'url': '..."