# MPG Cars

### Introduction:


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

In [2]:
url1 = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv"
url2 = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv"
cars1 = pd.read_csv(url1, sep=",")
cars2 = pd.read_csv(url2, sep=",")

   ### Step 3. Assign each to a to a variable called cars1 and cars2

In [3]:
cars1 = pd.read_csv(url1, sep=",")
cars2 = pd.read_csv(url2, sep=",")

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [4]:
#HE ENCONTRADO ESTAS 2 FORMAS DE HACERLO
#cars1 = cars1.loc[:, ~cars1.columns.str.contains('^Unnamed')]
cars1.drop(cars1.columns[cars1.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [5]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [6]:
cars = pd.concat([cars1,cars2])
cars.shape

(398, 9)

In [7]:
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [8]:
num_azar = np.random.randint(15000,73000,size=cars.shape[0])
num_azar

array([45286, 19569, 68052, 35935, 57955, 35104, 24972, 59434, 46097,
       47155, 33556, 65944, 44197, 17900, 70052, 49420, 27147, 49538,
       72491, 58227, 49398, 61964, 27594, 47243, 50590, 68861, 65109,
       43578, 66977, 31038, 66495, 28597, 19356, 31780, 45545, 33540,
       22243, 41787, 17542, 29704, 70103, 46823, 15488, 33338, 40524,
       32931, 54503, 55961, 60530, 38896, 63724, 15846, 26868, 67055,
       51018, 37516, 44714, 31132, 60184, 30325, 41582, 56753, 16901,
       18863, 49270, 45153, 41823, 38871, 71671, 20851, 29361, 58526,
       16916, 34886, 65573, 57261, 71747, 72804, 49856, 63864, 70019,
       32811, 28214, 63101, 25209, 18957, 33236, 33714, 36173, 45865,
       67119, 41892, 57544, 51007, 65968, 51271, 69048, 54032, 61316,
       58812, 22648, 38460, 72850, 15462, 58958, 70723, 67530, 40434,
       47336, 45784, 64875, 50895, 35396, 62443, 36502, 16443, 32266,
       65616, 66138, 68239, 47270, 72210, 43051, 24910, 68927, 60044,
       19843, 68186, 27577, 24796, 46261, 43110, 18786, 53265, 15745,
       58896, 44252, 72221, 49653, 54397, 38999, 31320, 50508, 17911,
       25701, 38365, 60572, 71883, 23173, 52851, 21389, 69319, 25886,
       62900, 41426, 52132, 59388, 17652, 48877, 17413, 42149, 63459,
       64514, 39181, 67237, 71860, 23402, 15280, 45966, 23712, 25772,
       68516, 58459, 23742, 46993, 31235, 52707, 48461, 42670, 64856,
       53407, 50100, 36615, 72890, 31030, 19089, 58369, 22910, 66107,
       24921, 27934, 54927, 49672, 65700, 35313, 24573, 28098, 41463,
       62336, 42223, 54879, 46341, 50470, 24225, 30315, 50433, 57771,
       20027, 72114, 51132, 69998, 38132, 26220, 70095, 60066, 42063,
       23418, 65677, 56388, 25917, 47007, 17103, 43710, 26271, 66800,
       62212, 54648, 57951, 56028, 21468, 44111, 44578, 41224, 60644,
       66553, 26087, 18399, 28510, 62684, 41240, 50319, 50421, 43670,
       40819, 56543, 67283, 54141, 29785, 38253, 40226, 45176, 72525,
       51838, 17057, 44972, 55558, 64413, 47689, 72830, 16533, 66337,
       57805, 27369, 38256, 42048, 56545, 21037, 40356, 47690, 25864,
       57822, 36847, 21715, 62527, 17727, 52498, 32571, 53735, 28264,
       38879, 63466, 59519, 34069, 49057, 17803, 35930, 32392, 50836,
       66653, 58392, 39883, 55632, 54613, 51394, 50101, 54647, 31868,
       23196, 21236, 23639, 55605, 28038, 41380, 58322, 53144, 58586,
       41553, 32851, 48938, 44500, 16078, 53635, 21127, 60796, 47014,
       39007, 63874, 38164, 31706, 45844, 27407, 33832, 54364, 42397,
       24557, 42297, 26897, 45783, 68686, 56155, 57800, 20809, 45918,
       24031, 68904, 34479, 25834, 32505, 39331, 51165, 70746, 40150,
       49787, 51567, 45310, 49779, 24451, 31030, 35121, 15861, 56379,
       40886, 39984, 28388, 47699, 72721, 55286, 38832, 44034, 49139,
       33483, 35211, 41576, 32282, 52564, 36455, 20310, 32220, 29322,
       41320, 69922, 21754, 59940, 51509, 59088, 16384, 53960, 47535,
       51534, 24657, 62702, 26081, 47476, 31782, 63830, 41916, 35696,
       39116, 45998, 47089, 57545, 15182, 42338, 69253, 28955, 31093,
       58992, 28400])

### Step 8. Add the column owners to cars

In [9]:
cars["owners"] = num_azar
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,45286
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,19569
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,68052
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,35935
4,17.0,8,302,140,3449,10.5,70,1,ford torino,57955
...,...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,69253
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,28955
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,31093
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,58992
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,28400